.Navbar {
    background-color: var(--color-bg-secondary);
    height: 75px;
    width: 100vw;

    display: flex;
    align-items: center;
}

.left {
    display: flex;
    gap: 10px; /* falls du mehrere links haben willst */
}

.right {
    margin-left: auto; /* Schiebt den ganzen Block nach rechts */
    display: flex;
    gap: 10px; /* Abstand zwischen GitHub und Settings */
}

.home-btn, .github-btn, .settings-btn {
    background-color: var(--color-bg-secondary);
    border: none;
    font-size: 25px;
    font-family: "Orbitron", sans-serif;
    color: var(--color-text);
    padding: 5px;
    margin:5px;
    border-radius: 8px;
    cursor: pointer;
}

.home-btn:hover,
.github-btn:hover,
.settings-btn:hover {
    background-color: var(--color-bg-teritary);
}

.settings-btn{
    background-color: none;
}
.settings-btn:hover{
    background-color: var(--color-bg-secondary);
}